<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta property="og:title" content="神戸大学漫画研究会・Web展示会" />
    <meta
      property="og:description"
      content="漫画研究会が六甲祭で例年行っている展示を、今年はオンラインで行います！"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://kucc-rokko-festival.herokuapp.com/#/"
    />
    <meta
      property="og:image"
      content="https://kucc-rokko-festival.herokuapp.com/パネル展4.jpg"
    />
    <meta
      name="twitter:site"
      content="https://kucc-rokko-festival.herokuapp.com/#/"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="神戸大学漫画研究会・Web展示会" />
    <meta
      name="twitter:image"
      content="https://kucc-rokko-festival.herokuapp.com/パネル展4.jpg"
    />
    <meta
      name="twitter:description"
      content="漫画研究会が六甲祭で例年行っている展示を、今年はオンラインで行います！"
    />
    <link rel="icon" href="<%= BASE_URL %>twitter_icon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
